/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
    text-align: left;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    margin-bottom: 1.5rem;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #0077ff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0055cc;
    transform: translateY(-2px);
  }
  
  .success-message {
    background-color: #b3e6b3;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-top: 2rem;
    margin: 0 auto;
  }
  
  .success-message h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .success-message p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  